
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <table>
            <tr>
                <td><label>Kullanıcı Adı: </label></td>
                <td><input type="text" id="username" name="username" /></td>
            </tr>
            <tr>
                <td><label>Şifre: </label></td>
                <td><input type="password" id="password" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td rowspan="2"><button type="submit" id="btnLogin">Giriş</button></td>
            </tr>
        </table>
        }
    </div>
</body>
</html>
